{% extends "frontend/template.html.twig" %}

{% block head %}
  <title>Article et commentaires</title>
{% endblock %}

{% block body %}
<div class="global-container">
  <div class="ml-2 mt-3">
    <p><a class="text-white" href="index.php">Retour à l'accueil</a></p>
  </div>

  <div class="container container-white pt-5 pb-3 rounded">

    <h3>
      {{ post.title|escape }}
    </h3>
    <span class="font-italic">{{ post.creationDate|date("d/m/Y H:m") }}</span>

    <p>
      {{ post.content|raw }}
    </p>


    <div class="container ">
      <h3>Ajouter un commentaire</h3>

      <form action="index.php?action=addComment&amp;id={{ post.id }}" method="post">

        <div class="mb-3">
          <label for="author">Auteur</label>
          <input type="text" id="author" name="author" class="form-control"/>
        </div>

        <div>
          <label for="comment">Commentaire</label>
          <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
        <br>
        <div class="mb-3">
          <button class="btn btn-success" type="submit">Poster</button>
        </div>

      </form>
    </div>


    <div class=" container">

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Auteur</th>
          <th scope="col">Contenu</th>
          <th scope="col">Signaler</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
          <tr>
            <td>le {{ comment.commentDate|date("d/m/Y h:m") }}</td>
            <td>{{ comment.author|escape }}</td>
            <td>{{ comment.comment }}</td>
            <td>
              <a class="btn btn-warning text-white" href="index.php?action=signalEditComment&amp;id={{ post.id }}&amp;idComment={{ comment.id }}">Signaler</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>


    </div>




  </div>

</div>
{% endblock %}


{% block footer %}

{% endblock %}
