{% extends "template-2.html.twig" %}

{% block head %}
    <title>Signalement</title>
{% endblock %}

{% block body %}

    <p><a href="index.php">Retour à la liste des billets</a></p>

    <div class="container">

        <h3>
            {{ post.title|escape }}
            <em>le {{ post.creationDate|date("d/m/Y h:m") }}</em>
        </h3>

        <p>
            {{ post.content }}
        </p>


<div class="container">

    <h2>Commentaires</h2>

    {% for comment in comments %}

        {% if currentCommentId==comment.id %}

            <p><h4>Vous souhaitez signaler le commentaire suivant :</h4></p>

            <p>{{ comment.author }} le {{ comment.commentDate|date("d/m/Y h:m") }}</p>
            <p>{{ comment.comment }}</p>

            <p><h4>Merci d'indiquer le motif du signalement :</h4></p>

            <form action="index.php?action=signalComment&id={{ post.id }} &idComment= {{ comment.id }}" method="post">
                <textarea id="uComment" name="uComment" autofocus="autofocus">{{ comment.signalement }}</textarea>
                <input type="submit" value="signaler"/>
                <a href="index.php?action=post&amp;id= {{ post.id }}"><input type="button" value="abandon"/></a>
            </form>


        {% else %}

            <p> {{ comment.author }} le {{ comment.commentDate|date("d/m/Y h:m") }}
            <p>{{ comment.comment }}</p>

        {% endif %}

    {% endfor %}
</div>
    </div>
{% endblock %}
